@model Brand
@{
    ViewBag.Title = "Marka Tanımlama";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}


<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        @using (Html.BeginForm("Add", "Brand", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(x => x.BrandName, new { @class = "col-lg-3 col-sm-3 control-label" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(x => x.BrandName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.BrandName, null, new { @class = "text-danger" })
                    <span class="text-danger">@ViewBag.Error</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.LogoImagePath, new { @class = "col-lg-3 col-sm-3 control-label" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(x => x.LogoImagePath, new { @class = "form-control", type = "file" })
                    <span class="text-danger">@ViewBag.ErrorImage</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.ListOrder, new { @class = "col-lg-3 col-sm-3 control-label" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(x => x.ListOrder, new { @class = "form-control", type = "number", @Value = "0" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-9">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
            </div>
        }
    </div>
</section>

@section Styles{
    <link href="~/Content/CommonTheme/css/image-zoom.css" rel="stylesheet" />
}